.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top:4em;
}
.espacio-arriba-small{
	margin-top: .4em;
}
.espacio-arriba-mediano{
	margin-top: 2em;
}
.parrafo-mediano{
	font-size: 1.1em;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
img{
	max-width: 100%;
}
.espacio-abajo{
	margin-bottom: .5em;
}
.espacio-derecha{
	margin-right: .5em;
}
.fondo-rosa{
	background:#F25164;
}
.fondo-marron{
	background:#F20CAC;
}
.hover-negro:hover{
	background:black;
	color: white;
}
.retardo-1s{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.retardo-2s{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.retardo-3s{
	-webkit-animation-delay: 3s;
	animation-delay: 2s;
}


